@model Modelo.Entidades.Receita

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Receita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceitaFixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceitaFixa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceitaParcelada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceitaParcelada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdParcelas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdParcelas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DhReceita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DhReceita)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReceitaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
